.header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
}

.header-underline {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;


}

.medicine-form {
	width: 30rem;
	height: 30rem;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.2rem;
	margin: 0 auto;
	background-color: #fdc4b3;




}

.medicine-form input {
	width: 10rem;
	height: 1.5rem;
	padding: 0 0.25rem;
	border-radius: 0.2rem;
}

.addmed-button,
.deleteallmed-button {
	border: none;
	border-radius: 0.2rem;
	width: 5rem;
	height: 2rem;
	cursor: pointer;

}

.deleteallmed-button {
	width: 15rem;
	height: 2rem;

}

.medicineline {
	border: solid black 0.1rem;
	border-radius: 0.5rem;
	color: white;
	background-color: #a77a6c;
	width: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.productspan,
.productIDspan,
.manufacturerspan,
.expirationdatespan,
.quantityspan {
	flex-basis: 20%;
}

.deletesinglemed {
	background: none;

}

.alertmessage {
	display: flex;
	border: solid black 0.1rem;
	justify-content: center;
	align-items: center;


}

@media (max-width:1024px) {
	.medicine-form {
		width: 30rem;
		height: 30rem;
		border-radius: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.2rem;
		margin: 0 auto;
		background-color: #fdc4b3;
	}
}